<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medicine DB</title>
    <style>
        *
        {
            text-align: center !important;
            margin: auto !important;
            margin-top: 15px !important;
        }
    </style>
</head>
<body>
<h1>Medicine Database</h1>
<table class="database_table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Form</th>
        <th>Price</th>
        <th>Count</th>
    </tr>

    <tr th:each="med: ${meds}">
        <td th:text="${med.getId()}">Id</td>
        <td th:text="${med.getName()}">Name</td>
        <td th:text="${med.getType()}">Type</td>
        <td th:text="${med.getForm()}">Form</td>
        <td th:text="${med.getPrice()}">Price</td>
        <td th:text="${med.getCount()}">Count</td>
    </tr>
</table>

<form th:action="@{/show}" th:method="post">
    <input type="number" placeholder="ID of the Medicine" id="id" th:name="id"/>
    <input type="submit" value="Buy">
</form>
</body>
</html>